
:root{
  font-family: "raleway";

}

body{
  background-color: #0E1705;
  color: white;
  margin: 0%;
  padding: 0%;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FD9D68;
  color: white;
  font-weight: 700;
  font-size: 25px;
  
  }

  .brand-title{
    margin-left: 20px;
  }

  .navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbar-links li {
    list-style: none;
    display: flex;
  }

  .navbar-links li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 25px;
    cursor: pointer;
    }

  h1{
    color: white;
    text-align: center;
    font-size: 50px;
}

p{
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

#img-text{
  display: flex;
  justify-content: space-evenly;

}

figure.item {

  /* To correctly align image, regardless of content height: */
  vertical-align: top;
  display: inline-block;
  /* To horizontally center images and caption */
  text-align: center;
  /* The width of the container also implies margin around the images. */
  width: 520px;
  font-weight: bold;
  
}
img {
  width: 300px;
  height: 200px;
  background-color: grey;
}
.caption {
  /* Make the caption a block so it occupies its own line. */
  display: block;
  padding: 3%;
}








.footer{
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FD9D68;
  color: white;
  font-weight: 700;
  font-size: 25px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;

  

}
.footer-links ul{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.footer-links li{
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.footer-links li a {
  text-decoration: none;
  color: white;
  margin: 20px;
  /* display: flex;
  justify-content: space-around; */
  
}


