@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto+Condensed&display=swap');

body {background-color: #0E1705;
    margin-right: 0px;
    width: 100%;
    margin-top:0px;
   

}


.navbarlink {
    display: flex;  
    flex-direction: row; 
    justify-content:space-around;
    margin: 25px;
    margin-left: 10000px;
    margin-right: -100px;
    padding-left: 0px;
    margin-left: 900px;
    list-style-type:none;
    font-family: "raleway", 'Times New Roman', Times, serif;
    height: 10px;
    font-size:large;
}

.logo{
  display: flex;  
  flex-direction: row; 
  justify-content:space-around;
  margin-right: 190px;
  padding-right:-0px ;
  padding-left: 0px;
  margin-left: -1000px;
  margin-top: -6px;
  list-style-type:none;
  font-family: "raleway", 'Times New Roman', Times, serif;
  height: 10px;
  font-size:large;   
}
   
.navbar{
    border-style: solid;
    background-color:#FD9D68 ;
    height: 70px;
    width:100%;
    padding-right: 100px;

}

a:link {
    text-decoration: none;
    
  }
  
  a:visited {
    text-decoration: none;
    color: #0E1705;
    
  }
  
  a:hover {
    text-decoration: none;
    color: #0E1705;
  }
  
  a:active {
    text-decoration: none;
    color: #0E1705;
  }